<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/property.xml"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="APP_PROFILE" source="spring.profiles.active"/>
    <springProperty scope="context" name="APP_CLOUD_PROFILE" source="spring.cloud.config.profile"/>
    <springProperty scope="context" name="APP_LOGGING_ROUTING_KEY" source="sixi-micro-service-common.logging.routing-key"/>
    <!--消息队列配置-->
    <springProperty scope="context" name="RABBITMQ_HOST" source="spring.rabbitmq.host"/>
    <springProperty scope="context" name="RABBITMQ_PORT" source="spring.rabbitmq.port"/>
    <springProperty scope="context" name="RABBITMQ_USERNAME" source="spring.rabbitmq.username"/>
    <springProperty scope="context" name="RABBITMQ_PASSWORD" source="spring.rabbitmq.password"/>
    <!--彩色日志配置-->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
    <!--日志等级格式-->
    <property name="LOG_LEVEL_PATTERN" value="${LOG_LEVEL_PATTERN:-%5p [${APP_NAME}]}"/>
    <!--日志格式-->
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN} --- [%thread] %logger{36} : %msg%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    <!--控制台格式-->
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %clr(${LOG_LEVEL_PATTERN}) --- %clr(${PID:- }){magenta} [%thread] %clr(%logger{36}){cyan} : %msg%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    <!--日志路径-->
    <property name="LOG_ROOT_PATH" value="${SIXI_LOG_DIR:-${user.dir}/logs}/${APP_NAME:-boot}/"/>
    <!--日志分割-->
    <!--最大保存历史-->
    <property name="MAX_HISTORY" value="30"/>
    <!--最大文件大小-->
    <property name="MAX_FILE_SIZE" value="50MB"/>
    <!--最大日志大小-->
    <property name="TOTAL_SIZE_CAP" value="5GB"/>
    <!--日志后缀-->
    <property name="LOG_SUFFIX" value="log.gz"/>
    <!--控制台输出-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!-- 全局日志文件 -->
    <appender name="GLOBAL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT_PATH}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ROOT_PATH}/application-%d{yyyy-MM-dd}.%i.${LOG_SUFFIX}</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <append>true</append>
        <prudent>false</prudent>
    </appender>
    <!-- 调试日志文件 -->
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT_PATH}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ROOT_PATH}/debug-%d{yyyy-MM-dd}.%i.${LOG_SUFFIX}</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <append>true</append>
        <prudent>false</prudent>
    </appender>
    <!-- 警告日志文件 -->
    <appender name="WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT_PATH}/warn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ROOT_PATH}/warn-%d{yyyy-MM-dd}.%i.${LOG_SUFFIX}</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <append>true</append>
        <prudent>false</prudent>
    </appender>
    <!-- 错误日志文件 -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT_PATH}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ROOT_PATH}/error-%d{yyyy-MM-dd}.%i.${LOG_SUFFIX}</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <append>true</append>
        <prudent>false</prudent>
    </appender>
    <!-- 异常日志文件 -->
    <appender name="EXCEPTION_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT_PATH}/exception.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ROOT_PATH}/exception-%d{yyyy-MM-dd}.%i.${LOG_SUFFIX}</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <append>true</append>
        <prudent>false</prudent>
    </appender>

    <!--日志写入消息队列-->
    <appender name="RABBITMQ" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <layout>
            <pattern>${LOG_PATTERN}</pattern>
        </layout>
        <host>${RABBITMQ_HOST}</host>
        <port>${RABBITMQ_PORT}</port>
        <username>${RABBITMQ_USERNAME}</username>
        <password>${RABBITMQ_PASSWORD}</password>
        <applicationId>${APP_NAME}-${APP_CLOUD_PROFILE:-${APP_PROFILE:-local}}</applicationId>
        <routingKeyPattern>${APP_LOGGING_ROUTING_KEY:-logs}</routingKeyPattern>
        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>true</durable>
    </appender>

    <!-- 调试日志记录 -->
    <logger name="com.sixi" level="DEBUG"/>
    <logger name="org.springframework.data.mongodb.core" level="DEBUG"/>
    <!-- 异常日志记录 -->
    <logger name="com.sixi.micro.common.exception.handler" level="DEBUG">
        <appender-ref ref="EXCEPTION_FILE"/>
    </logger>
    <!-- 全局日志记录 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="RABBITMQ"/>
        <appender-ref ref="DEBUG_FILE"/>
        <appender-ref ref="WARN_FILE"/>
        <appender-ref ref="ERROR_FILE"/>
        <appender-ref ref="GLOBAL_FILE"/>
    </root>
</configuration>